## Day3-1 作業

在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果。請嘗試想像一個你需要的資料結構 (裡面的值是隨機的)，然後用程式碼範例的方法把它變成 DataFrame
範例：
請點擊下方檢視範例參考ipynb檔內容，Day_003-1_HW.ipynb檔

In [36]:
import pandas as pd
import numpy as np

In [37]:
data = {'國家': ['TW', 'USA', 'JP'] ,
        '人口': ['2300w', '30000w', '22000w'], 
        'GDP' : ['10w', '20w', '30w']}
data = pd.DataFrame(data)

In [38]:
data

    國家      人口  GDP
0   TW   2300w  10w
1  USA  30000w  20w
2   JP  22000w  30w

In [39]:
print(data)

    國家      人口  GDP
0   TW   2300w  10w
1  USA  30000w  20w
2   JP  22000w  30w

## Day3-2 作業



1.1. 讀取 txt 檔, 請讀取 text file

https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt

1.2 將所提供的 txt 轉成 pandas dataframe



2. 從所提供的 txt 中的連結讀取圖片，請讀取上面 data frame 中的前 5 張圖片



請點擊下方檢視範例參考ipynb檔內容，Day_003-2_HW.ipynb檔



提交提醒：作業有兩個檔案的提交方式，以下兩種方法都可以



1.用不同檔名分別上傳到github，然後以最後一題的網址來提交

 Day_003-1_HW.ipynb

 Day_003-2_HW.ipynb



2.兩個題目手動合併在同個ipynb裡

In [40]:
with open("data/example.txt", 'r') as f:
    datatxt = f.readlines()
print(datatxt)

['id,sex,age,score\n', '001,F,20,77\n', '002,F,25,90\n', '003,M,22,80\n', '004,F,30,66\n', '005,M,40,60\n', '006,M,29,87']

In [41]:
datatxt

['id,sex,age,score\n',
 '001,F,20,77\n',
 '002,F,25,90\n',
 '003,M,22,80\n',
 '004,F,30,66\n',
 '005,M,40,60\n',
 '006,M,29,87']

In [42]:
datatxt = []
with open("data/example.txt", 'r') as f:
    for line in f:
        line = line.replace('\n', '').split(',') ## 將每句最後的 /n 取代成空值後，再以逗號斷句
        datatxt.append(line)
datatxt

[['id', 'sex', 'age', 'score'],
 ['001', 'F', '20', '77'],
 ['002', 'F', '25', '90'],
 ['003', 'M', '22', '80'],
 ['004', 'F', '30', '66'],
 ['005', 'M', '40', '60'],
 ['006', 'M', '29', '87']]

In [43]:
df = pd.DataFrame(datatxt[1:])
df.columns = datatxt[0]
df

    id sex age score
0  001   F  20    77
1  002   F  25    90
2  003   M  22    80
3  004   F  30    66
4  005   M  40    60
5  006   M  29    87

## 將資料轉成 json 檔後輸出

將 json 讀回來後，是否與我們原本想要存入的方式一樣? (以 id 為 key)

In [44]:
import json
import pandas as pd
df.to_json('data/example01.json')

In [45]:
# 上面的存入方式，會將 column name 做為主要的 key, row name 做為次要的 key

with open('data/example01.json', 'r') as f:
    j1 = json.load(f)
    
j1

{'id': {'0': '001',
  '1': '002',
  '2': '003',
  '3': '004',
  '4': '005',
  '5': '006'},
 'sex': {'0': 'F', '1': 'F', '2': 'M', '3': 'F', '4': 'M', '5': 'M'},
 'age': {'0': '20', '1': '25', '2': '22', '3': '30', '4': '40', '5': '29'},
 'score': {'0': '77', '1': '90', '2': '80', '3': '66', '4': '60', '5': '87'}}

In [46]:
 df.set_index('id', inplace=True)
df

    sex age score
id
001   F  20    77
002   F  25    90
003   M  22    80
004   F  30    66
005   M  40    60
006   M  29    87

In [47]:
df.to_json('data/example02,json', orient = 'index')

In [48]:
with open('data/example02,json', 'r') as f:
    j2 = json.load(f)
j2

{'001': {'sex': 'F', 'age': '20', 'score': '77'},
 '002': {'sex': 'F', 'age': '25', 'score': '90'},
 '003': {'sex': 'M', 'age': '22', 'score': '80'},
 '004': {'sex': 'F', 'age': '30', 'score': '66'},
 '005': {'sex': 'M', 'age': '40', 'score': '60'},
 '006': {'sex': 'M', 'age': '29', 'score': '87'}}

## 將檔案存為 npy 檔
一個專門儲存 numpy array 的檔案格式 使用 npy 通常可以讓你更快讀取資料喔!
https://towardsdatascience.com/why-you-should-start-using-npy-file-more-often-df2a13cc0161